Cython==0.29.34
aiohttp==3.13.3
asyncpg==0.29.0
cffi==1.15.1
# chardet removed - no longer needed by aiohttp 3.13+
jsonschema==2.6.0
multidict==6.1.0
pycparser==2.18
pycryptodome==3.6.6
PyJWT==2.9.0
python-dateutil==2.8.2
PyYaml==5.1
six==1.11.0
ujson==1.35
yarl==1.22.0
zope.interface==5.1.0
argon2-cffi==19.2.0
backoff==1.10.0
prometheus-client==0.8.0
brotli==1.1.0
openapi-spec-validator==0.2.8
